%h1.event.start Coach Helper
#access.container
  #access.d-flex.justify-content-center.align-items-center
    #access.card
      .text-center
        %h2 Sign up
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = render "devise/shared/error_messages", resource: resource
          .form-group
            = f.label :email
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
          .form-group
            = f.label :team
            %br/
            = f.text_field :team, autofocus: true, autocomplete: "text", class: "form-control"
          .form-group
            = f.label :password
            - if @minimum_password_length
              %em
                (8 characters minimum)
            %br/
            = f.password_field :password, autocomplete: "new-password", class: "form-control"
          .form-group
            = f.label :password_confirmation
            %br/
            = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"
          .actions
            = f.submit "Sign up", class: "btn btn-primary"
        = render "devise/shared/links"