.content
  .content2nd
    %h1 Edit player data 
    = bootstrap_form_for @player do |f|
      .field.align-middle
        = f.text_field :name, class: "col-md-3 control-label" 
      .field
        = f.text_field :surname, class: "col-md-3 control-label"
      .field
        = f.text_field :number, class: "col-md-3 control-label"
      .field
        = f.text_field :birth_date, class: "col-md-3 control-label"
      .field
        = f.text_field :injury, class: "col-md-3 control-label"
      = f.select :trained_in, options_for_select(Player.trained_ins.map { |key, value| [key.humanize, key] }), {prompt: "Choose one of them: ..."}, class: "form-control"
      = f.submit "Update Player", class: "baczek"
      = button_to "Back", players_path, class: "baczek"
